
*{
    padding: 0;
    margin: 0;

}

#escenario{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    background-image: url('images/haragan.jfif');
    background-size: 50%;
}

#mensaje{
    width: 400px;
    height: 500px;
    margin: auto;
    font-size: 30px;
    -webkit-text-stroke: 0.2px grey;

    font-family: sans; color: black;
}

#personaje{

    width: 20px;
    height: 20px;
    background-color:pink   ;
    border-radius: 50%;
    font-size: 9px;
    position: relative;
    top: 440px;
    left: 190px;
    z-index: 100000000000;

    
     
}

#texto{

        border: 3px solid transparent;
        vertical-align: middle;
}

.block{
    width: 400px;
    height: 20px;
    background-color: green;
    position:relative ;
    top : 100px;
    margin-top: -20px;
}

.hole{
    width: 40px;
    height: 20px;
    background-color: white ;
    position:relative ;
    top : 100px;
    margin-top: -20px;
}

body {
    background-image: url('images/back.jpg');
    
  }